
.venv/

data_UNS/*
!data_UNS/README.md

data_VMR/*
!data_VMR/README.md

data_matrix/*
!data_matrix/README.md

src/__pycache__/*
src/data_processing/__pycache__/*
src/neural_network/__pycache__/*

examples/__pycache__/*
pics/*

tests/__pycache__/*
tests/data_processing/__pycache__/*